{% extends "layout.html"%}

{% block title %} Search {% endblock %}

{% block head %}
{{super()}}

{% endblock %}

{% block body%}
{% block navigation %}
{{super()}}
{% endblock %}

{% block content%}

<div id="form_div">
<form id="search" action = "/search_talent" method = "post">
<label for="name">Name:</label><br><br>
<input form = "search" type = "text" id="name" max_length = "50" name = "name" style="width: 20vw; font-size: 15px; font-family: Arial; resize:none"><br><br>
<label for="skills">Skills:</label><br><br>
<textarea form = "search" id="skills" name = "skills" rows ="4" max_length = "1000" style="width: 60vw; font-size: 15px; font-family: Arial; resize:none"></textarea><br><br>
<label for="notes">Notes:</label><br><br>
<textarea form = "search" id="notes" name = "notes" rows ="4" max_length = "1000" style="width: 60vw; font-size: 15px; font-family: Arial; resize:none"></textarea><br><br>
<input type="submit" name = "submit" value="Search">
</form>
{% with messages = get_flashed_messages()%}
{% if messages%}
<div style="padding-top: 20px">
{% for message in messages%}

<text style="font-color : red; font-size: 20px">{{message}}</text>
{% endfor%}

</div>
{% endif%}
{% endwith %}

{% endblock %}
{% endblock %}